<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hame.forum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewSubject"
            android:label="@string/title_activity_new_subject"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewOpinion"
            android:label="@string/title_activity_new_opinion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewComment"
            android:label="@string/title_activity_new_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Opinion"
            android:label="@string/title_activity_opinion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Comments"
            android:label="@string/title_activity_comments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Registered" />
        <activity android:name=".Login" />
        <activity
            android:name=".Forum"
            android:label="@string/title_activity_forum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />

    </application>

</manifest>